https://github.com/Lu-Yi-Hsun/iqoptionapi/archive/refs/heads/master.zip
fastapi
uvicorn[standard]
google-genai
getmac
pandas
psycopg2-binary
python-dotenv
websocket-client==0.56.0
pytz
fastapi
getmac
google-genai
pandas
psycopg2-binary
python-dotenv
pytz
uvicorn[standard]
websocket-client==0.56.0
